@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* MENU */



.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #89A8D7, #ABA7D9, #BF98CD, #CD86A8, #D797BC, #E59F9D);
    position: fixed;
    border-bottom: 4px solid #EFEFEF;
    z-index: 99999;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.logo h3 {
   color: white;
   font-size: 1.6rem;

}


.logo img {
    width: 130%;
    height: 100%;
    padding-top: 10px;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #33333350;
    border-bottom: 4px solid #943F88;  
    color: #D797BC;
}

/* Primeira Seção */

.first-section{
    height: 120vh;
    width: 100vw;
    background-color: #EFEFEF;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.first-section h1{
    color: #3C174E;
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Playwrite AU TAS';
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #d797bc;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}

.btn button:hover {
    border: 1px solid #943F88;
    background-color: #d797bc65;
    color: #3C174E;
}

.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
   
}

/* Cardápio */

.catalogo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(15, 15, 15, 0.6)), url(/img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalogo h2 {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 5rem;
    color: #e6e6e6;
    text-transform: uppercase;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
}

.itens-catalogo h3 {
    font-size: 50px;
    color: #BF98CD;
    text-transform: uppercase;
    margin-top: 3px;
}

.itens-catalogo p {
    font-size: 15px;
    color: #EFEFEF;
    text-align: justify;
    margin-bottom: 50px;
}

.txt {
    display: flex;
    flex-direction: column;
}

.itens-catalogo {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-catalogo img {
    width: 450px;
    border-radius: 20px;
    transition: all 0.3s linear;
    justify-content: start;
    align-items: start;
}


.itens-catalogo img:hover {
    width: 550px;
}

/* Sobre nós */

.sobre-nos {
    background-image: linear-gradient(45deg, #89A8D7, #ABA7D9, #BF98CD, #CD86A8, #D797BC, #E59F9D);
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentsobre {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: space-between;
}

.sobre-nos img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #943F88;
}

.contentsobre h2 {
   font-size: 6rem;
   margin-bottom: 1rem;
   font-family: 'Indie Flower', cursive;
}

.contentsobre p {
   text-align: center;
   text-align: justify;
   font-size: 1.8rem;
   width: 600px;
}

.contatos {
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 4rem;
}

.contatos h3 {
   font-size: 6rem;
   margin-bottom: 3rem;
   font-family: 'Indie Flower', cursive;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.contatos-secao i{
    margin-right: 1rem;

}

.contatos-secao div{
    cursor: pointer;
}

.contatos-secao div:hover{
    color: #943F88;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bg-1 { 
    width: 400px;
    margin: auto;
}



.caixa-carrinho {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    position: fixed;
    z-index: 99999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px;
    border: 3px solid #3C174E;
    flex-direction: column;
    justify-content: space-between;
}

.caixa-carrinho ul {
    font-size: 25px;
    
}



.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    color: #3C174E;
}

.caixa-carrinho .total-txt {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 15px;
    color: #3C174E;
}

.caixa-carrinho h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.caixa-carrinho div {
    display: flex;
    flex-direction: row;
}

.caixa-carrinho button {
    width: 30%;
    margin: 10px auto;
    display: block;
    
}

.caixa-carrinho .comprar {
    background-color: #3C174E;
    color: white;
    border: 1px solid #3C174E;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.4s linear;
    margin-top: 25px;
}

.caixa-carrinho .comprar:hover {
    cursor: pointer;
    background-color: #3c174e56;
    color: #3c174e;
}

.caixa-carrinho .cancelar {
    background-color: #ff3d3d;
    color: rgb(255, 255, 255);
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.4s linear;
    margin-top: 25px;
}

.caixa-carrinho .cancelar:hover {
    cursor: pointer;
    background-color: #e60f0f6e;
    color: #ff0000;
}


/* PRODUTOS */

.banner {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #3C174E;
}

.banner h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3C174E;
    text-transform: uppercase;
    padding-top: 100px;
    font-size: 50px;
    text-shadow: 5px 0px 15px white;
}

.categoria-body {
    background-color: #CECECE;
}

.shopping {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 20px;
    align-items: start;
    box-sizing: border-box;
}

.shopping .shopping-div {
    background-color: #89A8D7;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    height: 410px;
}

.shopping img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.shopping h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    padding-bottom: 10px;
    color: #000000;
    font-weight: 900
}

.shopping h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.shopping button {
    padding: 10px;
    border-radius: 15px;
    background-color: #3C174E;
    color: white;
    border: 2px solid #3C174E;
    transition: all 0.3s ease-in;
    padding-top: 10px;
    display: block;
    margin: 10px auto 0 auto;
}

.shopping button:hover {
    cursor: pointer;
    background-color: #3c174e85;
    color: black;
}






@media (max-width: 1200px) {
    .main {
        display: block;
    }

    .sobre-nos img {
        width: 600px;
        margin-left: -2px;
    }

    .first-section{
        height: 95vh;
    }


}

@media (max-width: 980px) {
   
    html {
        font-size: 50%;
    }

    .first-section{
        height: 120vh;
    }

    .itens-catalogo img {
        width: 450px;
    }


    .itens-catalogo img:hover {
        width: 500px;
    }
    
    .shopping h2 {
        font-size: 15px;
    }
    
}

@media (max-width: 870px) {
    .content {
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 6px auto;
        transition-duration: 0.5s ;
        cursor: pointer;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
    }

    .content.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1f1e1f;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu {
        display: block;
        
    }

    .content.on .list-menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        
    }

    .content.on .list-menu li a {
        font-size: 4rem;
        display: block;
    }


    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -7px);
    }
    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }

    .contatos-secao {
        display: block;
        text-align: center;
        font-size: 2rem;
        
    }

    .contatos-secao div {
        margin: 2rem;
        
    }

    .first-section{
        height: 120vh;
    }

    .itens-catalogo img {
        width: 350px;
    }


    .itens-catalogo img:hover {
        width: 450px;
    }

}


@media (max-width: 720px) {
    .conteudo-principal h1 {
        width: 350px;
        text-align: center;
    }

    .first-section{
        height: 120vh;
    }

    .itens-catalogo img {
        width: 250px;
    }


    .itens-catalogo img:hover {
        width: 350px;
    }

}

@media (max-width: 645px) {
    .sobre-nos img {
        width: 400px;
        margin-left: 10px;
    }

    .contentsobre p {
        text-align: center;
        width: 400px;
     }

    .first-section{
    height: 120vh;
    }

    .btn {
    flex-direction:  column;
    justify-content: center;         
    align-items: center;
    }

     .contatos-secao {
       width: 200px;
        
    }
    .conteudo-principal h2 {
        width: 200px;
        text-align: center;
    }

    .btn {
        width: 150px;
    }

    .itens-catalogo img {
        width: 500px;
        margin-top: 70px;
        margin-bottom: 10px;
    }


    .itens-catalogo img:hover {
        width: 500px;
    }

    .section {
    display: flex;
    flex-direction: column;
    }

    .caixa-carrinho {
        width: 90%;
    }
    

    .catalogo {
    align-items: center;
    }

    .itens-catalogo h3 {
        text-align: center;
    }

    .txt {
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 399px) {

    .conteudo-principal h1 {
       font-size: 3rem;
    }
    .conteudo-principal h2 {
       font-size: 2rem;
    }

    .first-section{
    height: 120vh;
    }

    .sobre-nos img {
        width: 300px;
        height: auto;
        margin-left: 10px;
    }

    .contentsobre p {
        text-align: center;
        width: 200px;
     }

    .itens-catalogo img {
        width: 325px;
        margin-top: 70px;
        margin-bottom: 10px;
    }


    .itens-catalogo img:hover {
        width: 325px;
    }

    .section {
    display: flex;
    flex-direction: column;
    }

    

    .catalogo {
    align-items: center;
    }

    .itens-catalogo h3 {
        text-align: center;
    }

    .txt {
        text-align: center;
        align-items: center;
    }

    .shopping h2 {
        font-size: 17px;
    }

    .shopping button {
        padding: 10px;
        font-size: 15px;
    }

    .info-item {
        font-size: 20px;
    }

    .caixa-carrinho button {
        width: 40%;
    }

}